name: Push to Docker Hub
on:
  push:
    paths:
    - 'environment.yml'
    - '.github/workflows/main.yml'

jobs:
  Binder:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: update jupyter dependencies with repo2docker
        uses: machine-learning-apps/repo2docker-action@master
        with:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          BINDER_CACHE: true
          PUBLIC_REGISTRY_CHECK: true

